@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color: #fff;
}

#navbar {
    height: 10vh;
    width: 100%;
    background-color: #be3044;
    position: fixed;
    top: 0;
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
    margin: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 815px) {


    #navbar ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #navbar ul li {
        padding: 5px;
    }

}