@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    --dark-blue: #303840;
    --basic-white: #fff;
    --cherry: #be3044;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color: var(--basic-white);
}

#navbar {
    height: 10vh;
    width: 100%;
    background-color: var(--cherry);
    position: fixed;
    top: 0;
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--basic-white);
    margin: 20px;
    cursor: pointer;
}


#welcome-section {
    background-color: var(--dark-blue);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: var(--basic-white);
    font-size: 2.5rem;
    font-style: bold;
}

#welcome-section p {
    margin-top: 20px;
    font-weight: 100;
}

#projects {
    background-color: #45567d;
    text-align: center;
    padding: 5rem 1rem;
}

#projects h1 {
    border-bottom: 0.2rem solid var(--basic-white);
    max-width: 640px;
    margin: 0 auto 6rem auto;
    padding: 15px;
}

#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-image {
    width: 100%;
    object-fit: cover;
    height: calc(100% - 6.8rem);
}

.project-title {
    font-size: 2rem;
    padding: 1rem 0.5rem;
    color: var(--basic-white);
}

.project:hover .code {
    color: #ff7f50;
}

.code {
    color: var(--dark-blue);
    transition: color 0.3s ease-out;
}

.project {
    background: var(--dark-blue);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

#contact {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-blue);
    justify-content: center;
    align-items: center;
    padding: 10rem 2rem;
    border-bottom: 5px solid var(--cherry);
}

.contact-section-header {
    margin-bottom: 3rem;
    width: 100%;
    text-align: center;
}

.contact-section-header h1 {
    margin: 0px auto;
    font-size: 4rem;
}

.contact-links {
    color: var(--basic-white);
    font-size: 1.6rem;
}

.contact-details {

    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}



footer {
    color: var(--basic-white);
    background-color: var(--dark-blue);
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
}

@media only screen and (max-width: 815px) {
    .contact-section-header h1 {

        font-size: 2rem;
    }

    .contact-links {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer {
        flex-direction: column;
        padding: 30px;
    }

    #navbar ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #navbar ul li {
        padding: 5px;
    }


}